h1{
    margin: auto;
    width: 50%;
}
div{
    margin: auto;
    width: 50%;
}
ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
}
li{
    padding-left:20px;
    padding-right: 20px;
}
.action{
    display: none;
}
